<html>
<app-header></app-header>
<body>

  <div id="container">
    <div id="table">
      <table>

        <thead>
          <th><a>Skill</a></th>
        </thead>

        <tbody>
        <tr *ngFor="let skill of skills;">
          <td><a>{{skill.id}}</a></td>
          <td><a>{{skill.skill}}</a></td>
        </tr>
        </tbody>

      </table>

    </div>

    <div id="formular">
      <form #f="ngForm" (ngSubmit)="addSkill(f)" novalidate>
          <input type="text" name="skill" ngModel class="form-control" placeholder="Skill..."><br>

          <div id="buttons">

              <input type="submit" id="add" value="Add Skill"><br>

          </div>
      </form>

      <!--<form>-->
        <!--<input type="text" name="id" class="form-control" placeholder="Id..."><br>-->
        <!--<input type="submit" id="delete" value="Delete Skill"><br>-->
      <!--</form>-->

    </div>
  </div>

</body>
</html>

