body {margin:0;}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4964af;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.logo {
  position: fixed;
  bottom: 0;
  width: 150px;
}

.logo img {
  height: auto; 
  width: auto; 
  max-width: 150px; 
  max-height: 150px
}

.active {
  background-color: #4CAF50;
}
