<div class="container">
  <div class="card">
    <div class="card-header">
      <h5>Login</h5>
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="login(f)" >
        <div class="form-group">
          <label>User name</label>
          <input
            type="email"
            ngModel
            name="username"
            class="form-control"
            placeholder="User name">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input name="password" ngModel  type="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
        {{userName}} {{password}}

      </form>
    </div>
  </div>
 </div>
 <div toastContainer></div>
