<div class="sidenav">
  <a href="#about">User</a>
  <a href="#/report">Reports</a>
  <a href="#/skill">Skills</a>
  <a href="#contact">Contact</a>
  <div class="logo">
    <img src="https://www.ubbcluj.ro/images/logo/logo_cs.png">
  </div>
</div>
<div class="main">
    <h2>User Info</h2>
    <br>
    <div class="forms">
      <label for="firstname">First Name</label>
      <input class="inputs" type="text" name="firstname" id="firstname">
      <br>
      <label for="lastname">Last Name</label>
      <input class="inputs" type="text" name="lastname" id="lastname">
      <br>
      <label for="email">Email Address</label>
      <input class="inputs" type="text" name="email" id="email">
      <br>
      <label for="age">Age</label>
      <input class="inputs" type="text" name="age" id="age">
      <br>
      <label for="location">Location</label>
      <input class="inputs" type="text" name="location" id="location">
      <br>
      <input type="submit" name="submit" value="Update">
    </div>
</div>
