
<div class="sidenav">
    <a routerLink="/skill" routerLinkActive="active">Skills</a>
    <a routerLink="/report" routerLinkActive="active">Report</a>
  <div class="logo">
    <img src="https://www.ubbcluj.ro/images/logo/logo_cs.png">
  </div>
</div>
<div class="main">
    <h2>User Info</h2>
    <br>
    <div class="forms">
      <label for="userName">User Name</label>
      <input class="inputs" type="text" name="userName" id="userName" [(ngModel)]="user.username">
      <br>
      <label for="email">Email Address</label>
      <input class="inputs" type="text" name="email" id="email"  [(ngModel)]="user.email">
      <br>
      <label for="salary">Salary</label>
      <input class="inputs" type="text" name="salary" id="salary" [(ngModel)]="user.salary">
      <br>
      <label for="skills">Skills</label>
      <input class="inputs" type="text" name="skills" id="skills" [(ngModel)]="user.skills">
      <br>
      <input type="submit" name="submit" value="Update" (click)="updateUser()">
      <button class="btn btn-primary" (click)="toggleButton()">{{toggle}}</button>
      <p *ngIf="toggle">sal</p>
      <!-- <mat-selection-list>
        <mat-list-option *ngFor="let element of list">
          {{element}}
        </mat-list-option>
      </mat-selection-list>
       -->
      

    </div>
</div>
<router-outlet></router-outlet>